
.portfolio-card-title {
  font-size: 20pt;
  color: #ffffff;
  text-align: center;
}

.project-img {
  height: auto;
}

/* #portfolio-footer {
  margin-top: 1rem;
  color: #ffffff;
} */

.project-card {
  background-color: transparent;
  color: #959794;
  border-top: solid #45433e;
  border-bottom: solid #45433e;
  border-width: 1px;
}

.project-tools {
  font-size: 11pt;
  color: #959794;
  text-align: left;
  margin-top: 1rem;
}

.tools-row1 {
  margin-bottom: 0px;
}

.project-icons {
  height: 2.5rem;
  width: 2.5rem;
}

.project-card-body {
  text-align: left;
}

.project-description {
  padding: 1rem;
}

.project-description:hover {
  color: #ffffff;
}

.project-icons:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


/* Button Links */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
*, *::after, *::before {
  box-sizing: border-box;
}

.project-btns {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.project-btns {
  position: relative;
  border: none;
  font-size: 17px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border: 2px solid transparent;
  width: 100%;
  padding: .5rem 0rem;
  margin-top: 1rem;
}

.project-btns:active {
  transform: translateY(3px);
}

.project-btns::after, .project-btns::before {
  border-radius: 2px;
}

.shrink-border {
  background-color: transparent;
  color: #2ee990;
}

.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: #e6e6e6;
}

.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #2ee990;
  transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
  opacity: 0;
}

.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  opacity: 0;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}


/* Messing with corner frame */

.corner-frame {
  position:relative;
  width:433px;
  height:180px;
}

.corner-frame:before, .corner-frame:after, .corner-frame>:first-child:before, .corner-frame>:first-child:after {
  position:absolute;
  width:20px; height: 20px;
  border-color: #2ee990; /* or whatever colour */
  border-style:solid; /* or whatever style */
  content: ' ';
}

.corner-frame:before {
  top:0;left:0;border-width: 1px 0 0 1px
}

.corner-frame:after {
  top:0;right:0;border-width: 1px 1px 0 0
}

.corner-frame>:first-child:before {
  bottom:0;right:0;border-width: 0 1px 1px 0
}

.corner-frame>:first-child:after {
  bottom:0;left:0;border-width: 0 0 1px 1px
}

.musicology{
  position:relative;
  width:433px;
  height:150px;
}