
.portfolio-card-title {
  font-size: 20pt;
  color: #ffffff;
}

.project-img {
  height: auto;
}

#portfolio-footer {
  margin-top: 1rem;
  color: #ffffff;
}

.project-card {
  background-color: transparent;
  color: #959794;
  border-color: #45433e;
}

.project-tools {
  font-size: 11pt;
  color: #e9322e;
  text-align: left;
}

.tools-row1 {
  margin-bottom: 0px;
}

.project-icons {
  height: 2.5rem;
  width: 2.5rem;
}

.project-card-body1 {
  text-align: left;
}

.project-description1 {
  margin-top: 1.5rem;
}

.project-icons:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


/* Button Links */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
*, *::after, *::before {
  box-sizing: border-box;
}

.project-btns {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.project-btns {
  position: relative;
  border: none;
  font-size: 17px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border: 2px solid transparent;
  width: 100%;
  padding: .5rem 0rem;
  margin-top: 1rem;
}

.project-btns:active {
  transform: translateY(3px);
}

.project-btns::after, .project-btns::before {
  border-radius: 2px;
}

.shrink-border {
  background-color: transparent;
  color: #e9322e;
}

.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: #e6e6e6;
}

.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e9322e;
  transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
  opacity: 0;
}

.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  opacity: 0;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}