.home-header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#home-title {
    font-size: 30pt;
}

#home-description {
    font-size: 25pt;
}

#home-name {
    color: rgb(124, 161, 124);
    font-weight: bolder;
    font-size: 50pt;
}