.home-header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* margin-left: 5.5rem; */
}

#home-title {
    font-size: 30pt;
    color: #959794;
    margin-bottom: 0;
}

#home-description {
    font-size: 25pt;
    color: #2ee990;
}

#home-name {
    color: #ffffff;
    font-weight: bolder;
    font-size: 50pt;
    margin-bottom: 0;
    font-family: 'Poiret One', cursive;
}