footer {
    margin: 3rem 0rem;
    color: white;
}

/* footer ul {
    padding:0;
    list-style:none;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

footer li {
    padding:0 2rem;
}

.footer-links a {
    font-size: 14pt;
    color: white;
}

#quick-links-title {
    color: rgb(144, 187, 144);
}

.quick-links-list a {
    color: white;
} */