.project-headers {
    color: #ffffff;
    font-size: 27pt;
    margin: 1rem 0rem;
}

#tile-header {
    margin-top: 4rem;
}

.underlined {
    border-bottom-style: solid;
    border-bottom-color: #2ee990;
    border-bottom-width: 2px;
}