#contact-info-div {
    background-color: pink;
}

.contact-icons {
    height: 4rem;
    width: 4rem;
}

#gh-icon {
    margin-right: 1rem;
}

.contact-info {
    padding:3rem 1rem 0rem;
}

.contact-p {
    margin-bottom: 0px;
}

.contact-card {
    margin-top: 2rem;
}

#contact-input-header {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 30pt;
    text-align: center;
}

.contact-input {
    padding: 1rem 2rem;
}