.social-icons {
  height: 3rem;
  width: 3rem;
  margin: 0rem .5rem;
}

.social-icons:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#contact-info-div {
  padding: 1rem 2rem;
}

.contact-card {
  margin: 2rem 0rem 0rem;
  background-color: #19171a;
}

#contact-input-header {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 27pt;
}

.contact-input {
  padding: 1rem 2rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.603), 0 6px 20px 0 rgba(0, 0, 0, 0.596); */
  box-shadow: 0 4px 8px 0 rgba(149, 151, 148, 0.5), 0 6px 20px 0 rgba(149, 151, 148, 0.493);
  color: #ffffff;
}

.contact-form-label {
  color: #ffffff;
}

.contact-form-input {
  background-color: transparent;
  border-color: #959794;
  border-bottom-color: #959794;
  color: #ffffff;
}

.contact-form-input:focus {
  background-color: transparent;
  color: #ffffff;
  border-color: #2ee990;
}

.icon-container {
  text-align: center;
}

.contact-description {
  text-align: center;
  color: #959794;
  margin: 0rem 2rem 2rem;
  font-size: 14pt;
}

.contact-info {
  margin: 2rem 1rem 0rem;
}

#get-in-touch {
  color: #ffffff;
  margin-bottom: 1.5rem;
}

#get-in {
  border-bottom-style: solid;
  border-bottom-color: #2ee990;
  border-bottom-width: 2px;
}

.contact-icons {
  height: 2rem;
  width: 2rem;
}

.contact-icons:hover {
  opacity: 50%;
}

.pdf-dwnld {
  text-decoration: none;
}



/* Button links ---------------------------- */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
*, *::after, *::before {
  box-sizing: border-box;
}

.submit-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.submit-btn {
  position: relative;
  border: none;
  font-size: 17px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border: 3px solid transparent;
  width: 100%;
  padding: .5rem 0rem;
  margin-top: 1rem;
}

.submit-btn:active {
  transform: translateY(3px);
}

.submit-btn::after, .submit-btn::before {
  border-radius: 2px;
}

.shrink-border1 {
  background-color: transparent;
  color: #2ee990;
}

.shrink-border1:hover {
  background-color: transparent;
  box-shadow: none;
  color: #e6e6e6;
}

.shrink-border1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #2ee990;
  transition: opacity 0.3s, border 0.3s;
}

.shrink-border1:hover::before {
  opacity: 0;
}

.shrink-border1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid #e6e6e6;
  opacity: 0;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.shrink-border1:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

/* contact Info */
.contact-p {
  /* margin-bottom: 0px; */
  font-size: 15pt;
  font-weight: bolder;
  text-align: center;

  display: block;
  padding: 5px 0;
  line-height: 1;
  position: relative;
  z-index: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #2ee990, #2ee990 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;

}

.contact-p:before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #2ee990;
  transition: all 0.3s ease-in-out;
}

.contact-p:hover {
  background-position: 0%;
}

.contact-p:hover:before {
  width: 100%;
}