/* .nav-link {
    font-size: 15pt;
    color: #959794;
    margin:1rem 1.5rem;
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav ul {
    padding: 0px;
	margin: 0px;
    text-align: center;
    width: 100%;
}

.navbar-nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0rem 2rem;
}

.navbar-toggler {
    border-color: #e9322e;
    
} */

/* .navbar {
    background-color: transparent;
} */

#nav-div {
    margin-top: 1rem;
}

.nav-link {
    font-size: 15pt;
    margin: 0rem 2rem;
    color: #959794;
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

.navbar-nav {
    width: 100%;
}

/* .navbar-nav ul {
    padding: 0px;
	margin: 0px;
    text-align: center;
    width: 100%;
} */

/* .navbar-nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0rem 2rem;
} */

/* button.navbar-toggler.collapsed {
    border-color: #e9322e;
    
}

button.navbar-toggler {
    border-color: #e9322e;
    
}

.navbar-toggler-item {
    color: red;
} */

#nav-logo {
    width: 100px;
    height: 100px;
}

.navbar-dark .navbar-toggler {
    color: #2ee990;
    border-color: #2ee990;
}

.offcanvas {
    background-color: #19171a;
}

.offcanvas-nav-link {
    font-size: 15pt;
    color: #959794;
    border-bottom: 1px solid;
    padding-bottom: 4px;
    /* text-align: center; */
    margin: 3rem 0rem;
}

a:link {
    text-decoration: none;
}

.btn-close {
    background-color: #2ee990;
}

.offcanvas-nav-link:hover {
    color: #ffffff;
}