#nav-div {
    margin-top: 1rem;
    background: transparent;
}

.nav-link {
    font-size: 16pt;
    margin: 0rem 2rem;
    color: #ffffff;
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

.navbar-nav {
    width: 100%;
}

#nav-logo {
    width: 100px;
    height: 100px;
}

.navbar-dark .navbar-toggler {
    color: #2ee990;
    border-color: #2ee990;
}

.offcanvas {
    background-color: #19171a;
}

.offcanvas-nav-link {
    font-size: 15pt;
    color: #ffffff8c;
    border-bottom: 1px solid;
    padding-bottom: 4px;
    /* text-align: center; */
    margin: 3rem 0rem;
}

a:link {
    text-decoration: none;
}

.btn-close {
    background-color: #2ee990;
}

.offcanvas-nav-link:hover {
    color: #ffffff;
}